{% extends "search.html" %}

{% block searchresult %}
<td>
  {{ item.foreign==0 ? 'Ansteorra' : 'Foreign' }}
</td>
<td>
  <a href="/award/id/{{ item.id }}">{{ item.name }} ({{ item.abbrev }})</a>
</td>
{% endblock %}

{% block singleresult %}
<div class="padding" style="border: 1px solid">
  <div>{{ award.name }}</div>
  <a class="ink-button push-right" href="/award/csv/{{ award.id }}">CSV</a>
  <div>Award abbreviation: {{ award.abbrev }}</div>
  <div>Precedence: {{ award.precedence }}</div>
  <div>Number given: {{ given.total() }}</div>
</div>
{% endblock %}

{% block dataheaders %}
<th><a href="?sort=dategiven">Date</th>
<th><a href="?sort=name">Person</a></th>
<th>Notes</th>
{% endblock %}

{% block datarow %}
<td>
    <a href="/event/id/{{ datum.event_id }}">{{ datum.dategiven }}</a>
</td>
<td>
    <a href="/award/id/{{ datum.person_id }}">{{ datum.name }}</a>
</td>
<td>{{ datum.notes }}</td>
{% endblock %}
