{% if data.hasPages() %}
{% macro withQuery(req,arr) %}
{% set newq = req.getQueryParams()|merge(arr) %}
{% set newqs = "" %}
{% for q,v in newq %}
{%   if newqs != "" %}
{%     set newqs = newqs ~ "&" %}
{%   endif %}
{%   set newqs = newqs ~ q ~ "=" ~ v %}
{% endfor %}
{% autoescape false %}
{{ req.getUri().withQuery(newqs) }}
{% endautoescape %}
{% endmacro %}
{% import _self as uri %}
<div class="button-group all-50" style="display: inline-flex">
  <a class="ink-button" style="flex: 1" {{ data.currentPage() < 3 ? 'disabled' : 'href=' ~ uri.withQuery(req,{'page':1}) }}>
    1 <i class="fa fa-angle-double-left"></i>
  </a>
  <a class="ink-button" style="flex: 1" {{ data.currentPage() == 1 ? 'disabled' : 'href=' ~ uri.withQuery(req,{'page':data.currentPage()-1}) }}>
    {{ data.currentPage() > 1 ? data.currentPage()-1 : '' }} <i class="fa fa-angle-left"></i>
  </a>
  <a class="ink-button" style="flex: 1" {{ data.currentPage() == data.lastPage() >= data.lastPage() ? 'disabled' : 'href=' ~ uri.withQuery(req,{'page':data.currentPage()+1}) }}>
    <i class="fa fa-angle-right"></i> {{ data.currentPage() < data.lastPage() ? data.currentPage()+1 : '' }}
  </a>
  <a class="ink-button" style="flex: 1" {{ data.currentPage() > data.lastPage()-2 ? 'disabled' : 'href=' ~ uri.withQuery(req,{'page':data.lastPage()}) }}>
    <i class="fa fa-angle-double-right"></i> {{ data.lastPage() }}
  </a>
</div>
{% endif %}
