{% extends "search.html" %}

{% block searchresult %}
<td>
  <a href="/event/id/{{ item.id }}">{{ item.name }} ({{ item.date }})</a>
</td>
<td>
  {{ item.hosted }}
</td>
{% endblock %}

{% block singleresult %}
<div class="padding" style="border: 1px solid">
  <div>{{ event.name }}</div>
  <a class="ink-button push-right" href="/event/csv/{{ event.id }}">CSV</a>
  <div>Hosted by: {{ event.hosted }}</div>
  <div>Date: {{ event.date }}</div>
  <div># Awards: {{ given.total() }}</div>
</div>
{% endblock %}

{% block dataheaders %}
<th><a href="?sort=personname">Person</th>
<th><a href="?sort=precedence">Award</a></th>
<th>Notes</th>
{% endblock %}

{% block datarow %}
<td>
    <a href="/name/id/{{ datum.personid }}">{{ datum.personname }}</a>
</td>
<td>
    <a href="/award/id/{{ datum.awardid }}">{{ datum.awardname }}</a>
</td>
<td>{{ datum.notes }}</td>
{% endblock %}
