{# vim:set ai sw=4 ts=4 et: #}
<div>
    <form class="ink-form" method="get" action="/search/{{ current }}">
        <input type="hidden" name="OP">
        <div class="control-group">
            <label for="search">{{ current|upper }} SEARCH TEXT</label>
            <div class="control">
                <input id="search" type="text" name="search" size="40" value="{{ req.getQueryParam('search') }}">
            </div>
        </div>
        <div class="control-group column-group all-50">
            <ul class="control unstyled">
                <li><input type="checkbox" name="startName" {{ req.getQueryParam('startName')?"checked":"" }}><label>Start of Name</label></li>
                <li><input type="checkbox" name="matchCase" {{ req.getQueryParam('matchCase')?"checked":"" }}><label>Match Case</label></li>
                {% if current == "name" %}
                <li><input type="checkbox" name="searchOther" {{ req.getQueryParam('searchOther')?"checked":"" }}><label>Search Other Names</label></li>
                {% endif %}
            </ul>
        </div>
        <div class="all-50 align-right">
            <button type="submit" name="submit" class="ink-button blue">Submit</button>
            <button type="submit" name="clear" class="ink-button push-right">Reset</button>
        </div>
    </form>
    <div class="all-100">
        <div>Starting with:</div>
        {% for letter in 'A'..'Z' %}
        <a href="/search/{{ current }}?search={{ letter }}&startName=on">{{ letter }}</a>
        {% endfor %}
    </div>
</div>
