{# vim:set ai sw=4 ts=4 et: #}
<div>
    <div class="align-right push-right">
        {% if current == 'award' %}
        <span>Award</span>
        {% else %}
        <a href="#awards">Award</a>
        {% endif %}
        {% if current == 'name' %}
        <span>Name</span>
        {% else %}
        <a href="#names">Name</a>
        {% endif %}
        {% if current == 'event' %}
        <span>Event</span>
        {% else %}
        <a href="#events">Event</a>
        {% endif %}
    </div>
    <div><a href="http://op.ansteorra.org/">OP Home</a></div>
</div>
