{% extends "search.html" %}

{% block searchresult %}
<td>
    {% if item.region %}
    <div class="push-right">{{ item.region }}</div>
    {% endif %}
    <a href="/name/id/{{ item.id }}">{{ item.name }}</a>
    {% if item.other_names %}
    <div class="half-left-padding">{{ item.other_names }}</div>
    {% endif %}
</td>
{% endblock %}

{% block singleresult %}
<div class="padding" style="border: 1px solid">
    {{ person.name }}<br>
    {% if person.other_names %}
    <em class="half-left-padding">Other name(s): {{person.other_names }}</em>
    {% endif %}
    <a class="ink-button push-right" href="/name/csv/{{ id }}">CSV</a>
    <div>Group from: {{ person.region }}</div>
    {% if person.heraldry %}
    <div>Armorial <a href="{{ person.heraldry }}">Link</a></div>
    {% endif %}
    <div><i class="fa fa-{{ person.achievement ? 'check-' : '' }}square-o"></i> Achievement Registered</div>
</div>
{% endblock %}

{% block dataheaders %}
<th><a href="?sort=precedence">Award</a></th>
<th><a href="?sort=dategiven">Date</th>
<th>Notes</th>
{% endblock %}

{% block datarow %}
<td>
    <a href="/award/id/{{ datum.award_id }}">{{ datum.name|split(',').0|replace({' of Ansteorra':''}) }}</a>
</td>
<td>
    <a href="/event/id/{{ datum.event_id }}">{{ datum.dategiven }}</a>
</td>
<td>{{ datum.notes }}</td>
{% endblock %}
