{% extends('site.html') %}
{# vim:set ai sw=4 ts=4 et: #}
{% block content %}
<div class="ink-grid">
    <h3>Ansteorra's Roll of Awards - <span class="small">{{ current|capitalize }} Search</span></h3>
    <div class="column-group horizontal-gutters">
        <div class="all-100 large-50 xlarge-50">
            {% include "links.html" %}
            {% include "form.html" %}
            <div class="hide-large hide-xlarge"><hr></div>
        </div>
        <div class="all-100 large-50 xlarge-50">
            {% if id==null %}
            <div>
                {% if results|length < 1 %}
                <div class="padding" style="border: 1px solid">
                    No {{ current }}s matched criteria, please try again.
                </div>
                {% else %}
                <div>
                    <div>Search criteria: <strong>{{ req.getQueryParam('search') }}</strong> matched the following {{ current }}s:</div>
                    <div class="align-center" style="display: flex; justify-content: center">
                        {% include "buttons.html" with {"data":results} %}
                    </div>
                    <table class="ink-table alternating" style="border: 1px solid">
                        <tbody>
                            {% for item in results %}
                            <tr>
                            {% block searchresult %}
                            {% endblock %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% endif %}
            </div>
            {% else %}
            <div>
                {% block singleresult %}
                {% endblock %}
                <div>
                    <div class="align-center" style="display: flex; justify-content: center">
                        {% include "buttons.html" with {"data":given} %}
                    </div>
                    <table class="ink-table alternating" style="border: 1px solid">
                        <thead>
                            <tr>
                                {% block dataheaders %}
                                {% endblock %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for datum in given %}
                            <tr>
                                {% block datarow %}
                                {% endblock %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}
