<html>
    <head>
        <title>Ansteorra OP</title>
        <meta name="description" content="Welcome page for the Kingdom of Ansteorra, part of the Society for Creative Anachronism an international medieval and rennasiance historical recreation group.">
        <meta name="keywords" content="Ansteorra,SCA,Society for Creative Anachronism,Texas,Oklahoma,OP, Herald,">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ink/3.1.10/css/ink.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ink/3.1.10/css/font-awesome.min.css">
    </head>
    <body>
      {% block content %}
      {% endblock content %}
    </body>
</html>
